# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [91]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [92]:
# Calculate the total number of unique schools
totalSchools = school_data_complete["school_name"].nunique()
totalSchools

15

In [93]:
# Calculate the total number of students
total_students_number=school_data_complete["student_name"].count()
total_students_number

39170

In [94]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [95]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [96]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [97]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_s = school_data_complete["math_score"] >= 70
passing_math_count = school_data_complete[passing_math_s].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students_number) * 100
passing_math_percentage

74.9808526933878

In [98]:
type(passing_math_s )

pandas.core.series.Series

In [99]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_s = school_data_complete["reading_score"] >= 70
passing_reading_count = school_data_complete[passing_reading_s]["student_name"].count()
passing_reading_percentage = passing_reading_count / float(total_students_number) * 100
passing_reading_percentage

85.80546336482001

In [100]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[passing_math_s & passing_reading_s].count()["student_name"]
overall_passing_rate = 100 *( passing_math_reading_count /  float(total_students_number) )
overall_passing_rate

65.17232575950983

In [101]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# District Summary
# Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

# Total budget
# Average math score
# Average reading score
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)
district_summary_data = {
  "Total Budget": total_budget,
    "Average Math Score":average_math_score,
    "Average Reading Score" : average_reading_score,
    "Percent Passing Math" : passing_math_percentage,
    "Percentage Passing Reading" : passing_reading_percentage,
    "Overall Passing" : overall_passing_rate,
}


# # Formatting
# district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df = pd.DataFrame(district_summary_data, index=["District"])
district_summary_df

,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percentage Passing Reading,Overall Passing
District,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [102]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [103]:
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [104]:
# Calculate the total student count
total_student = school_name['Student ID'].count()
total_student

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [105]:
# Calculate the total school budget and per capita spending
total_school_budget = school_data.set_index('school_name')['budget']
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])

In [106]:
# Calculate the average test scores
average_math_score = school_name['math_score'].mean()

average_reading_score = school_name['reading_score'].mean()

In [107]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [108]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [109]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [112]:
# Use the provided code to calculate the passing rates
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [117]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.



per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.048432,81.033963,66.680064,81.933280,65.172326
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.061895,83.975780,94.133477,97.039828,65.172326
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.711767,81.158020,65.988471,80.739234,65.172326
Ford High School,District,2739,$644.00,"$1,763,916.00",77.102592,80.746258,68.309602,79.299014,65.172326
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.351499,83.816757,93.392371,97.138965,65.172326
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.289752,80.934412,66.752967,80.862999,65.172326
Holden High School,Charter,427,$581.00,"$248,087.00",83.803279,83.814988,92.505855,96.252927,65.172326
Huang High School,District,2917,$655.00,"$1,910,635.00",76.629414,81.182722,65.683922,81.316421,65.172326
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.072464,80.966394,66.057551,81.222432,65.172326
Pena High School,Charter,962,$609.00,"$585,858.00",83.839917,84.044699,94.594595,95.945946,65.172326
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.842711,80.744686,66.366592,80.220055,65.172326
Shelton High School,Charter,1761,$600.00,"$1,056,600.00",83.359455,83.725724,93.867121,95.854628,65.172326
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.418349,83.848930,93.272171,97.308869,65.172326
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.274201,83.989488,93.867718,96.539641,65.172326
Wright High School,Charter,1800,$583.00,"$1,049,400.00",83.682222,83.955000,93.333333,96.611111,65.172326

## Highest-Performing Schools (by % Overall Passing)

In [121]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
per_school_summary[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [127]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
per_school_summary = per_school_summary.sort_values(["% Overall Passing"], ascending=True)

per_school_summary[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,65.172326

## Math Scores by Grade

In [129]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

math_scores = pd.DataFrame({
        "9th": ninth_graders,
        "10th": tenth_graders,
        "11th": eleventh_graders,
        "12th": twelfth_graders
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"


# Group by "school_name" and take the mean of each.

ninth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
tenth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
eleventh_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
twelfth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
        "9th": ninth_grade_math_scores,
        "10th": tenth_grader_math_scores,
        "11th": eleventh_grader_math_scores,
        "12th": twelfth_graders_scores
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary